/* Navbar */

.nav-bar {
    margin-bottom: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

li {
    display: inline-block;
}

li a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

body {
    background-color: thistle;
}

li a:hover {
    background-color: teal;
}

.text1 {
    color: black;
}

.block {
    min-height: 400px;
    max-height: 100%;
    margin: 20px;
}

img {
    float: left;
    width: 400px;
    height: 300px;
    margin-right: 20px;
}

.text {
    text-align: justify;
    padding: 15px;
}


/* Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}